.abouttitle {
  color: $blue;
  margin-top: 30px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 3px $blue;
  text-align: center;
}
.aboutcontent > p > a {
  color: $gray;
  &:hover {
    text-decoration: none;
    font-size: 20px;
  }
}
.company {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-bottom: 60px;
}
.aboutlogo {
  padding-right: 30px;
}
.aboutlogo img {
  width: 150px;
}
.aboutcontent {
  color: $gray;
  text-align: justify;
  span {
    font-weight: bold;
    color: $blue;
  }
}

.creator {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.aboutquote {
  display: flex;
  width: 600px;
  color: $gray;
  text-align: justify;
  font-style: italic;
  p {
    padding-left: 20px;
  }
}
.quoteright {
display: flex;
align-items: right;
align-self: flex-end;
// color: $blue;
}
// .quoteleft {
//   color: $blue;
// }
.aboutimg img {
  display: flex;
  border-radius: 10px;
  width: 200px;
  margin-left: 50px;
}
.quoteauthor {
  color: $gray;
  padding-left: 50px;
  padding-top: 20px;
  font-style: italic;
}