// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  height: 350px;
}
.banner h1, h2{ 
  color: $white;
  text-shadow: 1px 1px 2px $black;
  padding-left: 100px;
}
.container {
  padding: 0;
}
.word-move {
  text-align: center;
  padding-left: 0;
}


/* Cards */

.cards {
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}
.card {
  width: 300px;
  border-radius: 6px;
  padding: 5px;
  &:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  a:hover {
    text-decoration: none;
  }
}
.card-img > img{
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
  padding-bottom: 10px;
}
.servicetitle {
  max-height: 70px;
}
.card-title h3 {
  margin-top: 10px;
  color: $blue;
  text-align: center;
  font-weight: bold;
}
.card-title p {
  margin-top: 20px;
  color: $gray;
  text-align: center;
}
.card .linkservice {
  text-align: center;
  padding-bottom: 5px;
  justify-content: end;
  a {
    color: transparent$blue;
    font-weight: bold;
  }
}

// @media (hover: hover) {
//   .card .linkservice {
//     transform: translateY(-100px);
//     transition: 0.2s;
//   }
//   .card:hover .linkservice {
//     transform: translateY(0);
//     text-align: center;
//     padding-bottom: 5px;
//     a {
//       color: $blue;
//       font-weight: bold;
//       &:hover {
//         text-decoration: none;
//       }
//     }
//   }
// }
.customers {
  margin-bottom: 80px;
}
.servpagetitle.cust-title {
  padding-top: 50px;
  border-top: 2px solid $blue;
  margin-bottom: 50px;
}
.custom-logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo_auto {
  width: 200px;
}
.logo_itsara {
  width: 200px;
}