<div class="footer">
  <div class="footer-links">
    <%# <a href="#" target= "blank"><i class="fab fa-facebook"></i></a> %>
    <a href="https://www.linkedin.com/company/mlci-gestion-administratif" target= "blank"><i class="fab fa-linkedin"></i></a>
    <a href="#" target= "blank"><i class="fas fa-envelope"></i></a>
  </div>
  <div class="conditions">
    <%= link_to "Conditions générales de vente", cgv_path, class: "nav-link btn-space" %>
  </div>
  <div class="footer-copyright">
    Ce site est fait avec <i class="fas fa-heart"></i> par <a href="http://www.juliecollazos.xyz" target= "blank">Julie Clz</a>
  </div>
</div>


