<div class="container">
<div class="servpagetitle"><h1>Merci pour votre demande!</h1></div>
  <p class="text-center" style='height: 60vh;'>Nous vous recontacterons dans les plus bref délais.</p>
</div>