<div class="container">
  <div class="abouttitle"><h1><strong>A propos</strong></h1></div>
  <br>


  <div class="company">
    <div class="aboutlogo">
      <%= image_tag "logo_blue.png", class:"avatar" %>
    </div>
    <div class="aboutcontent">
      <p>MLCI est une société de gestion administrative et de secrétariat créée en 2020 par <span>Maylis Chatry-Lenain</span>.
        Elle a pour but d'aider les entreprises à gérer leur tâches administratives et comptables pour leur faire gagner du temps et de l'argent.
        <br>
        <br>
        <a href="https://www.ffmas.com" target= "blank" class="ffmas"><i class="fas fa-network-wired"></i> Adhérente à la Fédération Française des Métiers de l'Assistanat et su Secrétariat</a>     
      </p>
    </div>
  </div>

  <div class="creator">
    <div class="aboutquote">
      <div class="quoteleft"><i class="fas fa-quote-left"></i></div>
      <p>Après l'obtention de mon baccalauréat, j’ai décidé de m'orienter vers un BTS Management des unités commerciales.
        <br>
        J’ai travaillé pendant 8 ans dans plusieurs secteurs d’activités en tant que commerciale. En conséquence, je suis forte d’adaptation. Je suis également consciente des attentes, des contraintes horaires et des procédures liées aux différents types d’organisations.
        <br>
        <br>
        <strong>Ce qui m’a poussé dans l’administration ?</strong><br>
        Cela me permet d’utiliser ma plus grande qualité, mon sens de l’organisation. De plus, le fait de savoir que ce que je fais aide les autres à être plus efficaces me comble personnellement et me donne envie de me surpasser. Je me sens la responsabilité de penser aux choses dont les gens ont besoin avant même qu’ils sachent qu’ils en ont besoin. C’est aussi un métier où l’on apprend toujours quelque chose de nouveau.
        <br>
        <br>
        <strong>Pourquoi auto-entrepreneuse ?</strong><br>
        Je créé mon entreprise de secrétariat pour me mettre au service de plusieurs sociétés. 
        C’est mon expérience au sein de deux entreprises, qui ont su me donner ma chance, qui me fait dire que j’ai les capacités.
        <br>
        La première entreprise, dans le domaine du transport, était complétement dépassée par la gestion de son administration et de sa comptabilité. Tout remettre à jour et réorganiser a été un réel challenge, que j’ai apprécié relever. Faire preuve d’autonomie était indispensable. J’ai aimé avoir cette liberté et, réciproquement, mon employeur a été conquis par ma capacité à prendre des initiatives.  
        La deuxième entreprise est dans le secteur des inspections techniques. Ils créaient suite à un rachat, un nouveau poste pour le pôle inspection. Les difficultés d’une création de poste ont été exaltantes. Personne ne sachant comment faire, nous avons mis en place ensemble l’organisation de A à Z. 
        <br>
        Ces expériences m’ont fait découvrir un monde qui m'était totalement inconnu jusqu'alors et qui me passionne. Je m’aperçois que ce travail m'offre la possibilité d'apprendre à me dépasser dans des situations parfois inédites, comme recevoir les notes de frais d’une année comptable dans une boite à chaussures !!
        <br>
        <br>
        Mon prochain challenge peut être le vôtre. Je serais ravie d’échanger avec vous et de vous accompagner.
        </p>
      <div class="quoteright"><i class="fas fa-quote-right"></i></div>
    </div>
    <div class="aboutimg">
      <%= image_tag "maylis.png", class:"logo", alt:"Maylis Chatry-Lenain"  %>
      <p class="quoteauthor">Maylis Chatry-Lenain</p>
    </div>
  </div>
  
  
</div>