<div class="container">
  <div class="abouttitle"><h1><strong>A propos</strong></h1></div>
  <br>


  <div class="company">
    <div class="aboutlogo">
      <%= image_tag "logo_blue.png", class:"avatar" %>
    </div>
    <div class="aboutcontent">
      <p>MLCI est une société de gestion administrative et de secrétariat créée en 2020 par <span>Maylis Chatry-Lenain</span>.
        Elle a pour but d'aider les entreprises à gérer leur tâches administratives et comptables pour leur faire gagner du temps et de l'argent.
      </p>
    </div>
  </div>

  <div class="creator">
    <div class="aboutquote">
      <i class="fas fa-quote-left"></i>
      <p>A la suite d'un BTS Management des unités commerciales, je travaille pendant 8 années dans différents points de vente où j'acquiers des compétences tant au niveau du savoir-faire que du savoir-être.
        Je m'y découvre de vraies qualités pour la relation clientèle.
        <br>
        Après avoir pris du temps pour voyager et découvrir de nouvelles cultures, j'intègre un organisme de formation en tant qu'assistante de formation.
        Cette expérience me permets de me former à des tâches plus administratives afin de compléter mes compétences.
        <br>
        Auto-dictate, je décide de créer ma société de gestion administrative et de secrétariat afin de mettre mon savoir professionnel au profit des petites entreprises et des indépendants.
        </p>
      <div class="quoteright"><i class="fas fa-quote-right"></i></div>
    </div>
    <div class="aboutimg">
      <%= image_tag "maylis.png", class:"logo", alt:"Maylis Chatry-Lenain"  %>
      <p class="quoteauthor">Maylis Chatry-Lenain</p>
    </div>
  </div>
  
  
</div>