<div class="container">
  <div class="abouttitle"><h1><strong>Conditions générales de vente</strong></h1></div>
  <br>

<div class="salesconditions">
  <h3>Article 1 – Application</h3>
  <p>Les conditions générales de vente sont applicables à toutes les commandes de prestations de services passées à l'entreprise MLCI GESTION, Entreprise Individuelle sous le statut de microentreprise établie au 12 résidence des lilas 94550 Chevilly Larue 
Siret : XXXXX
Et représentée par Maylis Chatry-Lenain.
</p>
<br>
<h3>Article 2 – Prestations</h3>
<p>L'entreprise MLCI GESTION propose des prestations ponctuelles ou régulières de secrétariat.
</p>
<br>
<h3>Article 3 – Engagement</h3>
<p>L'entreprise MLC GESTION engage son savoir-faire et son professionnalisme à la bonne réalisation des missions qui lui sont confiées, ainsi qu’à respecter les délais convenus avec le client lors de la prise de commande.
</p>
<br>
<h3>Article 4 – Lieux</h3>
<p>Les prestations sont réalisées depuis le bureau MLCI GESTION. Toutefois, pour des raisons pratiques, de logiciels ou autres, Madame Chatry-Lenain Maylis pourra se déplacer dans les bureaux du client.
</p>
<br>
<h3>Article 5 – Devis et commande</h3>
<p>Toute demande de prestation adressée à MLCI GESTION donne lieu à l’établissement d’un devis personnalisé, gratuit et sans engagement. Tout devis daté, signé et portant la mention « Bon pour accord » sera considéré comme une commande ferme et définitive. Toute commande devra être accompagnée d’un acompte de 30 % du montant total des prestations.
</p>
<br>
<h3>Article 6 – Tarifs</h3>
<p>Les tarifs des prestations sont ceux en vigueur au moment de la prise de commande par le client. Les tarifs sont libellés en euros et ne sont pas soumis à la TVA, conformément à l’article 293B du CGI. Les tarifs sont révisables au 1er janvier de chaque année, toutefois l'entreprise MLCI GESTION s’accorde le droit de modifier ses tarifs à tout moment sans avis préalable.
</p>
<br>
<h3>Article 7 – Majorations et frais supplémentaires</h3>
<p>Toute prestation réalisée en urgence à la demande du client sera majorée comme suit :
</p>
<ul>
  <li>Le soir après 18 h 00, le samedi ou en urgence dans la journée : + 25 %</li>
  <li>Le dimanche et les jours fériés : + 50 %</li>
  <li>Sur site : majorée de frais de déplacement selon le barème en vigueur</li>
</ul>

<p>Des frais supplémentaires peuvent s’ajouter au devis accepté par le client :</p>
<ul>
  <li>Fournitures spécifiques à la réalisation des prestations</li>
  <li>Frais d’affranchissement au tarif en vigueur de La Poste</li>
  <li>Frais de livraison des prestations</li>
  <li>Frais de déplacement</li>
</ul>
<br>
<h3>Article 8 – Droit de rétractation et d’annulation</h3>
<p>Le client dispose d’un délai de rétractation de 7 jours ouvrés suivant la date de signature du devis et uniquement s’il est prévu un début d’exécution de la prestation postérieur à un délai de 7 jours. Toutefois, toute annulation de commande devra être soumise à MLCI GESTION par écrit et aucune annulation de commande ne pourra être acceptée lorsque la prestation est débutée et l’acompte ne pourra être remboursé au client.
</p>
<br>
<h3>Article 9 – Modalités de paiement</h3>
<p>Le règlement des prestations devra être régularisé au plus tard à la date indiquée sur la facture. Le règlement peut être effectué par chèque bancaire ou postal, par virement ou en espèces.
</p>
<br>
<h3>Article 10 – Délais de livraison</h3>
<h4>10.1 – Début des travaux</h4>
<p>La réalisation des prestations débute dès signature du devis et des présentes CGV, et dès lors que l’acompte de 30 % a été versé.
</p>
<h4>10.2 – Délais</h4>
<p>Les délais de livraison sont donnés à titre indicatif, MLCI GESTION s’engage à les respecter, mais leur dépassement ne peut en aucun cas donner lieu à l’annulation de la commande ou à bénéficier de dommages et intérêts au profit du contractant. Tout dépassement de délais dû à des modifications demandées par le client en dehors de la prestation prévue sur le devis entraînera une facturation supplémentaire à la charge du client
</p>
<br>
<h3>Article 11 – Retard de paiement</h3>
<p>Conformément à la loi n° 921442 du 31.12.1992, tout défaut de paiement à la date de règlement figurant sur les factures des prestations fournies par MLCI GESTION, entrainera des pénalités de retard au taux de 2,13% par mois, applicables dès le premier jour de retard.
Conformément à la loi 2012-387 du 22 mars 2012, le décret n° 2012-1115 du 2 octobre 2012, articles L.441-6 et D.441-4 du Code de commerce, tout retard de paiement entraîne l’exigibilité d’une indemnité forfaitaire pour frais de recouvrement de 40 euros, dès le premier jour de retard.
</p>
<br>
<h3>Article 12 – Transmission des données</h3>
<p>Le client s’engage à fournir à MLCI GESTION tous les éléments nécessaires à la réalisation de la mission. Toute omission de la part du client pourra entraîner une révision de la date de livraison des prestations, voire une annulation de la commande.
Le client peut, à sa convenance, transmettre ses données :
Par courriel : XXXX@
Par téléphone : 06 70 40 98 41
Par voie postale à l’adresse mentionnée à l’Article 1
</p>
<br>
<h3>Article 13 – Supports de communication</h3>
<h4>13.1 – Visuels</h4>
<p>MLCI GESTION ne fournit pas les éléments visuels qui devront être intégrés aux productions, sauf demande expresse écrite du client, et avec accord MLCI GESTION, moyennant rémunération établie dans le devis ou dans un devis annexe (achat de photos, d’images, etc.).
Le client garantit à MLCI GESTION qu’il possède la totalité des droits sur tous les éléments fournis (textes, images, photos, etc.).
Le client sera le seul responsable de tout acte de contrefaçon, de plagiat ou de violation de droits de propriété intellectuelle et s’engage à décharger MLCI GESTION de toute responsabilité concernant les informations qu’il aura fournies (textes, images, photos, toutes données multimédias, etc.)
</p>
<h4>13.2 – Images</h4>*
<p>Le client doit fournir à MLCI GESTION des visuels de qualité suffisante pour leur utilisation dans les productions (soit 300 dpi) et veillera à ce que les images fournies respectent le droit à l’image.
</p>
<h4>13.3 – Diffusion des créations</h4>
<p>MLCI GESTION se réserve le droit de diffuser les créations réalisées à des fins de présentation, et sur tout type de support. En cas de refus, le client devra faire part de ses dispositions à MLCI GESTION par écrit.
</p>
<br>
<h3>Article 14 – Respect de la vie privée</h3>
<p>MLCI GESTION s’engage à respecter la confidentialité tant des données transmises par le client, que des travaux réalisés. Toutefois, la responsabilité MLCI GESTION ne peut être engagée en raison d’une interception ou d’un détournement des informations lors du transfert des données, notamment par internet.
</p>
<br>
<h3>Article 15 – Loi informatique et liberté</h3>
<p>Conformément à l’article 40 de la loi n° 78-17 du 6 janvier 1978, le client disposera d’un droit de rectification, de modification et de suppression des données qu’il aura communiquées à MLCI GESTION.
</p>
<br>
<h3>Article 16 – Cas de force majeure</h3>
<p>La responsabilité de l'entreprise MLCI GESTION ne pourra être mise en œuvre si la non-exécution ou le retard dans l’exécution de l’une de ses obligations découle d’un cas de force majeure. Celle-ci s’entend de tout événement extérieur, imprévisible et irrésistible (art 1148 du Code civil) soit catastrophes naturelles, mouvements sociaux, guerre ou malveillance.
</p>
<br>
<h3>Article 17 – Juridiction</h3>
<p>Tout litige relatif à l’interprétation et à l’exécution d’un contrat conclu avec la société MLCI GESTION sera de la compétence du Tribunal de Commerce de Créteil.
</p>

</div>
</div>