<div class="container" style="height: 80vh">
  <div class="servpagetitle"><h1><strong>Contactez-nous</strong></h1></div>
  <br>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <%= image_tag "big_logoblue.png", class:"businesscard-logo" %>
    </div>
    <div class="flip-card-back">
      <div class="title-flipcard"><h2>MLCI gestion</h2></div>
      <div class="social">
        <a href="mailto:mlcigestion@gmail.com" target= "blank"><i class="fas fa-envelope" style="font-size: 32px;"></i> </a>
        <a href="https://www.linkedin.com/company/mlci-gestion-administratif" target= "blank"><i class="fab fa-linkedin-in" style="font-size: 32px;"></i></a>
      </div>
    </div>
  </div>
</div>

</div>