<div class="container" style="height: 80vh">
  <div class="servpagetitle"><h1><strong>Contactez-nous</strong></h1></div>
  <br>
  <br>
<div class="frame">
	<div class="card">
		<div class="flip hvr-outline-in">
			
			<div class="front">
				<h1>MLCI</h1>
				<%# <p class="flip-me">Flip Me</p> %>
				<div class="line line-1"></div>
				<div class="line line-2"></div>
				<i class="fa fa-heart"></i>
			</div>
			
			<div class="back">
				<i class="fa fa-heart"></i>
				<h3>MLCI</h3>
				<div class="line line-3"></div>
				<h2>Gestion administrative</h2>
				<div class="social">
          <a href="mailto:mlcigestion@gmail.com" target= "blank"><i class="fas fa-envelope"></i></a>
          <a href="https://www.linkedin.com/company/mlci-gestion-administratif" target= "blank"><i class="fab fa-linkedin-in"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>


</div>