.navbar-mlc {
  justify-content: space-between;
  background: $blue;
}
.navbar-mlc .navbar-brand img {
  width: 100px;
  // padding-left: 10px;
}
body > div.navbar.navbar-expand-sm.navbar-light.navbar-mlc {
  padding: 0;
}

.navbar-mlc .navbar-collapse {
  flex-grow: 0;
}
.navbar-light .navbar-nav .nav-link {
  color: $white;
  font-size: 20px;
  &:hover {
    color: $white;
    font-size: 24px;
  }
}

.navbar-mlc .btn-light {
  color: $blue;
  border-color: $white;
  background-color: $white;
  font-size: 20px;
  // box-shadow: 3px 1px 1px $blue;
  &:hover {
    color: $white;
    border-color: $white;
    background-color: $blue;
    font-size: 24px;
    // box-shadow: 3px 1px 1px $blue;
  }
}

